@{
    ViewBag.Title = "Multiline TextBox Example";
}

<h2>Password</h2>
​


<p>Login name: <input data-bind="value: userName" /></p>
<p>Password: <input type="password" data-bind="value: userPassword" /></p>


<hr />

<p>Your value: <input data-bind="value: someValue, valueUpdate: 'afterkeydown'" /></p>
<p>You have typed: <span data-bind="text: someValue"></span></p> <!-- updates in real-time -->
 

 


 
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        
        var viewModel = function (){
            var self = this;
            self.userName= ko.observable(""),        // Initially blank
            self.userPassword= ko.observable("123456"), // Prepopulate

            self.someValue= ko.observable("edit me")
        };
        ko.applyBindings(new viewModel());
       
    });
</script>
}
